<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud app</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="../assets/css/styles.css">
</head>
<body>
<div class="container">
    <header id="header">
        <nav>
            <a href="/" class="link">USER MANAGMENT SYSTEM</a>
        </nav>
    </header>
    <main id="site-main">
    <div class="box-nav">
        <a href="../views/index.html" class="border">
            <i class="fas fa-angle-double-left"></i>
            <span class="text">all USERS</span>
        </a>
    </div>
    <div class="form">
        <h2 class="text">New useR</h2>
        <span>use form to create</span>
    </div>
 <form action="/" method="POST" id="updateUser">
    <div id="add_user">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Andrew Drew">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <div class="radio">
                <label for="gender">Male</label>
                <input type="radio" name="gender" value="male">
            </div>
            <div class="radio">
                <label for="gender">Female</label>
                <input type="radio" name="gender" value="female">
            </div>
        </div>
        <div class="form-group">
            <label for="gender">Status</label>
            <div class="radio">
                <label for="gender">Active</label>
                <input type="radio" name="gender" value="active">
            </div>
            <div class="radio">
                <label for="gender">Inactive</label>
                <input type="radio" name="gender" value="inactive">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">SAVE</button>
        </div>
        
    </div>
 </form>
 </div>
</main>
</div>
</body>
</html>