<%- include('include/_header') %>
    <main id="site-main">
        <div class="box-nav">
            <a href="/add-user" class="border">
            <span class="text"><i class="far fa-user"></i> New user</span>
            </a>
        </div>
    <form action="/" method="POST">
    <table class="table">
        
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Action</th>
</tr>
        <%- include('include/_show') %>
    </table>
    </form>
</div>
</main>
<%- include('include/_footer') %>