<%- include('include/_header') %>
    <main id="site-main">
    <div class="box-nav">
        <a href="/" class="border">
            <i class="fas fa-angle-double-left"></i>
            <span class="text">all USERS</span>
        </a>
    </div>
    <div class="form">
        <h2 class="text">Update useR</h2>
        <span>use form to update</span>
    </div>
    <%- include('include/_form') %>
 </div>
</main>
</div>
<%- include('include/_footer') %>