<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Gender</th>
    <th>Status</th>
    <th>Action</th>
</tr>
<tr>
    <td>1</td>
    <td>username</td>
    <td>example@email.com</td>
    <td>Male</td>
    <td>active</td>
    <td>
        <a href="#" class="btn icon">
            <span class="text"><i class="fas fa-user-edit"></i></span>
        </a>
        <a class="btn icon">
            <span class="text"><i class="fas fa-trash"></i></span>
        </a>
    </td>
</tr>